In [5]:
%run import_modules.ipynb

In [6]:
def extract_team_data(year,week):
    """
    Extracts team statistics from a list of game data and converts it into a DataFrame.
    
    This function processes each game in the provided list, extracts information about each team,
    including their IDs, names, home/away status, points scored, and other statistical categories.
    The resulting data is then normalized into a DataFrame for easier analysis.
    
    :param game_data: List of game objects, where each game object contains details about the game
                      and its participating teams.
    :return: DataFrame containing extracted team statistics for each game.
    """
    game_stats=[] # Initialize a list to store statistics for each team
   
    game_data = api_instance.get_team_game_stats(year=year, week=week)
    for game in game_data:
        game_id=game.id # Extract the unique identifier for the game
        teams=game.teams # Get the list of teams involved in the game
        
        # Iterate through each team in the game
        for team in teams:
            team_id = team.school_id # Extract the unique identifier for the team
            team_name = team.school # Extract the name of the team
            home_away = team.home_away # Determine if the team is playing at home or away

            team_stats = {
                'game_id': game_id,
                'team_id': team_id,
                'team_name': team_name,
                'home_away': home_away,
                'points': team.points # Extract the points scored by the team
                }
                # Add stats to the dictionary
            for stat in team.stats:
                category = stat.category
                value = stat.stat
                team_stats[category] = value
                # Append the team's stats to the list of game statistics
            game_stats.append(team_stats)
    # Concatenate the weekly data into the final DataFrame
    return pd.json_normalize(game_stats)

In [7]:
# game_stat=api_instance.get_team_game_stats(year=2023, week=1)

In [9]:
# allWks=pd.concat([extract_team_data(year=2023,week=i) for i in range(1,17)])

In [32]:
con=sqlite3.connect('collegeFootball.db')
cursor_obj= con.cursor()
cursor_obj.execute("DROP TABLE IF EXISTS teamStats23")
allWks.to_sql('teamStats23',con)
con.commit()
con.close()
con=sqlite3.connect('collegeFootball.db')
p3=pd.read_sql('SELECT * FROM teamStats23;',con)

In [43]:
p3.loc[p3.team_name=='Michigan']

,index,game_id,team_id,team_name,home_away,points,rushingTDs,passingTDs,kickReturnYards,kickReturnTDs,...,firstDowns,puntReturnYards,puntReturnTDs,puntReturns,tacklesForLoss,defensiveTDs,tackles,sacks,qbHurries,passesDeflected
96,96,401520162,130,Michigan,home,30,1,3,None,None,...,26,14,0,4,4,0,24,0,3,2
486,226,401520202,130,Michigan,home,35,3,2,54,0,...,23,24,0,2,10,0,29,5,1,3
718,214,401520232,130,Michigan,home,31,2,2,26,0,...,15,30,0,3,10,0,34,3,1,1
958,214,401520260,130,Michigan,home,31,2,1,21,0,...,20,0,0,1,3,1,21,0,5,1
1185,201,401520286,130,Michigan,away,45,3,3,None,None,...,26,41,0,3,4,0,25,4,4,5
1379,165,401520303,130,Michigan,away,52,4,1,21,0,...,18,7,0,2,7,2,28,2,4,4
1603,185,401520321,130,Michigan,home,52,3,4,36,0,...,23,37,0,2,8,0,30,4,7,3
1806,170,401520340,130,Michigan,away,49,2,4,16,0,...,28,3,0,2,9,1,30,3,2,7
2281,203,401520368,130,Michigan,home,41,5,0,21,0,...,22,39,0,4,3,0,22,1,10,6
2533,207,401520394,130,Michigan,away,24,3,0,None,None,...,15,7,0,3,3,0,33,1,2,4
2782,208,401520410,130,Michigan,away,31,3,0,13,0,...,20,18,0,1,7,0,45,4,0,0
2938,114,401520434,130,Michigan,home,30,2,1,16,0,...,18,None,None,None,1,0,35,1,1,4
2975,17,401539480,130,Michigan,away,26,2,0,None,None,...,12,87,0,1,5,0,27,4,5,8

In [44]:
p3.loc[p3.game_id==401540244]

,index,game_id,team_id,team_name,home_away,points,rushingTDs,passingTDs,kickReturnYards,kickReturnTDs,...,firstDowns,puntReturnYards,puntReturnTDs,puntReturns,tacklesForLoss,defensiveTDs,tackles,sacks,qbHurries,passesDeflected
0,0,401540244,2320,Lamar,home,17,1,1,82,0,...,16,None,None,None,None,None,None,None,None,None
1,1,401540244,70,Idaho,away,42,2,4,0,0,...,20,26,0,3,None,None,None,None,None,None