In [26]:
%run import_modules.ipynb
configuration = cfbd.Configuration()
configuration.api_key['Authorization'] = 'MyjBpIrnMbCmsxXJD6zmiOCWqjB3p+7Icq5PRSrN82IXeOppkoEWybx1SmRryxT+'
configuration.api_key_prefix['Authorization']='Bearer'
api_instance = cfbd.TeamsApi(cfbd.ApiClient(configuration))

In [8]:
api_response[0]

{'school': 'Georgia', 'talent': 990.47, 'year': 2020}

In [27]:
def get_talent():
    combined_talent = []
    for i in range(2020,2025):
        api_response = api_instance.get_talent(year=i)
        for j in api_response:
            talent_info = {
                'team': j.school,
                'talent': j.talent,
                'year': j.year ,
            }
            combined_talent.append(talent_info)
    return(pd.DataFrame(combined_talent))

In [28]:
talent=get_talent()

In [25]:
talent

                    team  talent  year
0            Georgia2020  990.47  2020
1            Alabama2020  985.86  2020
2         Ohio State2020  976.48  2020
3            Clemson2020  915.57  2020
4              Texas2020  892.91  2020
...                  ...     ...   ...
1045       UL Monroe2024  329.43  2024
1046  Kennesaw State2024  288.14  2024
1047            Army2024    0.00  2024
1048       Air Force2024    0.00  2024
1049            Navy2024    0.00  2024

[1050 rows x 3 columns]

In [29]:
con=sqlite3.connect('collegeFootball.db')
cursor_obj= con.cursor()
cursor_obj.execute("DROP TABLE IF EXISTS talent20s")
talent.to_sql(name='talent20s',con=con)

con.commit()
con.close()