In [4]:
%run CFBmodel/import_modules.ipynb

In [5]:
import os

In [6]:
configuration = cfbd.Configuration()
configuration.api_key['Authorization'] = 'MyjBpIrnMbCmsxXJD6zmiOCWqjB3p+7Icq5PRSrN82IXeOppkoEWybx1SmRryxT+'
configuration.api_key_prefix['Authorization']='Bearer'
api_instance = cfbd.GamesApi(cfbd.ApiClient(configuration))

In [7]:
import pandas as pd

def get_advanced_season_data(year):
    combined_data = []  # List to collect game data

    for j in range(1, 16):  # Loop through weeks
        game_data = api_instance.get_team_game_stats(year=year, week=j)

        for game in game_data:
            game_id = game.id  # Extract the unique identifier for the game
            teams = game.teams  # Get the list of teams involved in the game
            
            for team in teams:
                team_id = team.school_id  # Extract the unique identifier for the team
                team_name = team.school  # Extract the name of the team
                home_away = team.home_away  # Determine if the team is playing at home or away
                conference = team.conference  # Get the conference
                points = team.points  # Get the points scored

                # Initialize a dictionary for all stats
                stats_dict = {stat.category: stat.stat for stat in team.stats}

                # Compile all data into a single dictionary
                game_info = {
                    'game_id': game_id,
                    'team_id': team_id,
                    'team_name': team_name,
                    'home_away': home_away,
                    'conference': conference,
                    'points': points,
                    'rushingTDs': stats_dict.get('rushingTDs', '0'),
                    'puntReturnYards': stats_dict.get('puntReturnYards', '0'),
                    'puntReturnTDs': stats_dict.get('puntReturnTDs', '0'),
                    'puntReturns': stats_dict.get('puntReturns', '0'),
                    'passingTDs': stats_dict.get('passingTDs', '0'),
                    'kickReturnYards': stats_dict.get('kickReturnYards', '0'),
                    'kickReturnTDs': stats_dict.get('kickReturnTDs', '0'),
                    'kickReturns': stats_dict.get('kickReturns', '0'),
                    'kickingPoints': stats_dict.get('kickingPoints', '0'),
                    'interceptionYards': stats_dict.get('interceptionYards', '0'),
                    'interceptionTDs': stats_dict.get('interceptionTDs', '0'),
                    'passesIntercepted': stats_dict.get('passesIntercepted', '0'),
                    'fumblesRecovered': stats_dict.get('fumblesRecovered', '0'),
                    'totalFumbles': stats_dict.get('totalFumbles', '0'),
                    'tacklesForLoss': stats_dict.get('tacklesForLoss', '0'),
                    'defensiveTDs': stats_dict.get('defensiveTDs', '0'),
                    'tackles': stats_dict.get('tackles', '0'),
                    'sacks': stats_dict.get('sacks', '0'),
                    'qbHurries': stats_dict.get('qbHurries', '0'),
                    'passesDeflected': stats_dict.get('passesDeflected', '0'),
                    'possessionTime': stats_dict.get('possessionTime', '0:00'),  # Keep as string
                    'interceptions': stats_dict.get('interceptions', '0'),
                    'fumblesLost': stats_dict.get('fumblesLost', '0'),
                    'turnovers': stats_dict.get('turnovers', '0'),
                    'totalPenaltiesYards': stats_dict.get('totalPenaltiesYards', '0-0'),  # Keep as string
                    'yardsPerRushAttempt': stats_dict.get('yardsPerRushAttempt', '0.0'),  # Keep as string
                    'rushingAttempts': stats_dict.get('rushingAttempts', '0'),
                    'rushingYards': stats_dict.get('rushingYards', '0'),
                    'yardsPerPass': stats_dict.get('yardsPerPass', '0.0'),  # Keep as string
                    'completionAttempts': stats_dict.get('completionAttempts', '0-0'),  # Keep as string
                    'netPassingYards': stats_dict.get('netPassingYards', '0'),
                    'totalYards': stats_dict.get('totalYards', '0'),
                    'fourthDownEff': stats_dict.get('fourthDownEff', '0-0'),  # Keep as string
                    'thirdDownEff': stats_dict.get('thirdDownEff', '0-0'),  # Keep as string
                    'firstDowns': stats_dict.get('firstDowns', '0')
                }

                combined_data.append(game_info)  # Append the dictionary to the list

    # Create a DataFrame from the list of dictionaries
    df = pd.DataFrame(combined_data)
    return df

In [8]:
con=sqlite3.connect('collegeFootball.db')
cursor_obj= con.cursor()

In [9]:
advSeaDataYr2021=get_advanced_season_data(year=2021)

In [10]:
cursor_obj.execute("DROP TABLE IF EXISTS advancedGameStat21")
advSeaDataYr2021.to_sql(name='advancedSeasonGameStat21',con=con)

ValueError: Table 'advancedSeasonGameStat21' already exists.

In [ ]:
advSeaDataYr2020=get_advanced_season_data(year=2020)
cursor_obj.execute("DROP TABLE IF EXISTS advancedGameStat20")
advSeaDataYr2020.to_sql(name='advancedSeasonGameStat20',con=con)

In [ ]:
advSeaDataYr2022=get_advanced_season_data(year=2022)
cursor_obj.execute("DROP TABLE IF EXISTS advancedGameStat22")
advSeaDataYr2022.to_sql(name='advancedSeasonGameStat22',con=con)

In [ ]:
advSeaDataYr2023=get_advanced_season_data(year=2023)
cursor_obj.execute("DROP TABLE IF EXISTS advancedGameStat23")
advSeaDataYr2023.to_sql(name='advancedSeasonGameStat23',con=con)

In [ ]:
advSeaDataYr2024=get_advanced_season_data(year=2024)
advSeaDataYr2024.to_sql(name='advancedSeasonGameStat24',con=con)

In [11]:
con.commit()
con.close()

In [13]:
con=sqlite3.connect('collegeFootball.db')
cursor_obj= con.cursor()
# cursor_obj.execute("DROP TABLE IF EXISTS advancedGameStat23")
# cursor_obj.execute("DROP TABLE IF EXISTS advancedGameStat22")
# cursor_obj.execute("DROP TABLE IF EXISTS advancedGameStat21")
# cursor_obj.execute("DROP TABLE IF EXISTS advancedGameStat20")

In [14]:
advSeaDataYr2021.to_sql(name='advancedSeasonGameStat21',con=con)

1624

In [14]:
advSeaDataYr2024_test = pd.read_sql("""SELECT * FROM advancedSeasonGameStat24""", con)
advSeaDataYr2021_test = pd.read_sql("""SELECT * FROM advancedSeasonGameStat21""", con)
advSeaDataYr2022_test = pd.read_sql("""SELECT * FROM advancedSeasonGameStat22""", con)
advSeaDataYr2023_test = pd.read_sql("""SELECT * FROM advancedSeasonGameStat23""", con)
advSeaDataYr2020_test = pd.read_sql("""SELECT * FROM advancedSeasonGameStat20""", con)

In [16]:
advSeaDataYr2024_test

,index,game_id,team_id,team_name,home_away,conference,points,rushingTDs,puntReturnYards,puntReturnTDs,...,yardsPerRushAttempt,rushingAttempts,rushingYards,yardsPerPass,completionAttempts,netPassingYards,totalYards,fourthDownEff,thirdDownEff,firstDowns
0,0,401655657,2086,Butler,home,Pioneer,40,2,0,0,...,5.4,27,146,11.0,14-22,242,388,1-2,5-12,13
1,1,401655657,389,Upper Iowa University,away,Great Lakes,7,0,6,0,...,4.7,42,197,3.9,12-31,121,318,3-5,5-16,15
2,2,401655628,2464,Northern Arizona,home,Big Sky,66,5,141,1,...,6.9,34,233,12.2,14-18,219,452,1-2,4-7,22
3,3,401655628,124179,Lincoln (CA),away,Independent DII,6,0,0,0,...,3.2,29,94,4.1,11-20,81,175,0-1,5-14,6
4,4,401628456,2483,Oregon,home,Big Ten,24,1,-9,0,...,2.9,37,107,7.6,41-50,380,487,1-3,7-16,31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1619,1619,401628388,99,LSU,home,SEC,29,0,6,0,...,3.5,24,84,6.6,22-51,337,421,2-3,6-16,22
1620,1620,401628390,251,Texas,away,SEC,34,3,70,0,...,5.9,30,177,7.4,21-31,229,406,0-1,5-13,17
1621,1621,401628390,201,Oklahoma,home,SEC,3,0,19,0,...,2.3,39,89,5.1,19-29,147,236,1-2,4-14,18
1622,1622,401628385,2579,South Carolina,away,SEC,25,1,5,0,...,3.4,39,132,7.8,24-31,242,374,1-2,7-14,23
1623,1623,401628385,333,Alabama,home,SEC,27,3,1,0,...,2.7,38,104,9.1,16-23,209,313,1-1,5-11,20