In [2]:
%run CFBmodel/import_modules.ipynb
configuration = cfbd.Configuration()
configuration.api_key['Authorization'] = 'MyjBpIrnMbCmsxXJD6zmiOCWqjB3p+7Icq5PRSrN82IXeOppkoEWybx1SmRryxT+'
configuration.api_key_prefix['Authorization']='Bearer'
api_instance = cfbd.BettingApi(cfbd.ApiClient(configuration))
# game_id=game_id  season_type=season_type, team=team, home=home, away=away, conference=conference)

In [69]:
api_response = api_instance.get_lines(year=2022, week=1)

In [84]:
api_response[0].lines[1]

{'away_moneyline': None,
 'formatted_spread': 'Austin Peay -36',
 'home_moneyline': None,
 'over_under': 61.5,
 'over_under_open': None,
 'provider': 'consensus',
 'spread': -36.0,
 'spread_open': None}

In [4]:
import string

In [5]:
import pandas as pd

def get_betting_info(year):
    combined_data = []  # List to collect game data

    for j in range(1, 16):  # Loop through weeks
        game_data = api_instance.get_lines(year=year, week=j)

        for game in game_data:
            game_id = game.id  # Extract the unique identifier for the game
            away_team = game.away_team  # Get the away team name
            away_conference = game.away_conference  # Get the away team's conference
            away_score = game.away_score  # Get the away team's score
            home_team = game.home_team  # Get the home team name
            home_conference = game.home_conference  # Get the home team's conference
            home_score = game.home_score  # Get the home team's score
            season_type = game.season_type  # Get the season type
            start_date = game.start_date  # Get the start date of the game
            
            # Compile all data into a single dictionary for each line
            game_info = {
                    'game_id': game_id,
                    'season': year,
                    'season_type': season_type,
                    'week': j,
                    'start_date': start_date,
                    'away_team': away_team,
                    'away_conference': away_conference,
                    'away_score': away_score,
                    'home_team': home_team,
                    'home_conference': home_conference,
                    'home_score': home_score,
                }
            combined_data.append(game_info)
            i=0
            # Extract betting lines information and flatten it
            for line in game.lines:
                line_info = {
                    'provider{}'.format(i): line.provider,
                    'formatted_spread{}'.format(i): line.formatted_spread,
                    'spread{}'.format(i): line.spread,
                    'over_under{}'.format(i): line.over_under
                }
                i=i+1
                combined_data.append(line_info)  # Append the dictionary to the list

    # Create a DataFrame from the list of dictionaries
    df = pd.DataFrame(combined_data)
    return df

In [6]:
bets24=get_betting_info(2024)
bets23=get_betting_info(2023)
bets22=get_betting_info(2022)
bets21=get_betting_info(2021)
bets20=get_betting_info(2020)

In [8]:
con=sqlite3.connect('CFBModel/collegeFootball.db')
cursor_obj= con.cursor()
cursor_obj.execute("DROP TABLE IF EXISTS bets24")
bets24.to_sql(name='bets24',con=con)
cursor_obj.execute("DROP TABLE IF EXISTS bets23")
bets23.to_sql(name='bets23',con=con)
cursor_obj.execute("DROP TABLE IF EXISTS bets22")
bets22.to_sql(name='bets22',con=con)
cursor_obj.execute("DROP TABLE IF EXISTS bets21")
bets21.to_sql(name='bets21',con=con)
cursor_obj.execute("DROP TABLE IF EXISTS bets20")
bets20.to_sql(name='bets20',con=con)

3087

In [9]:
con.commit()

In [90]:
advSeaDataYr2024_test = pd.read_sql("""SELECT * FROM bets24""", con)
advSeaDataYr2021_test = pd.read_sql("""SELECT * FROM bets21""", con)
advSeaDataYr2022_test = pd.read_sql("""SELECT * FROM bets22""", con)
advSeaDataYr2023_test = pd.read_sql("""SELECT * FROM bets23""", con)
advSeaDataYr2020_test = pd.read_sql("""SELECT * FROM bets20""", con)

In [91]:
advSeaDataYr2024_test

,index,game_id,season,season_type,week,start_date,away_team,away_conference,away_score,home_team,...,spread0,over_under0,provider1,formatted_spread1,spread1,over_under1,provider2,formatted_spread2,spread2,over_under2
0,0,401677383.0,2024.0,regular,1.0,2024-08-31T17:00:00.000Z,Winston-Salem,CIAA,34.0,Bluefield State,...,NaN,NaN,None,None,NaN,NaN,None,None,NaN,NaN
1,1,401658348.0,2024.0,regular,1.0,2024-08-31T19:00:00.000Z,Laurinburg,None,0.0,ERSKINE,...,NaN,NaN,None,None,NaN,NaN,None,None,NaN,NaN
2,2,401674174.0,2024.0,regular,1.0,2024-08-29T23:00:00.000Z,Missouri Western,Mid America,33.0,Northeastern State,...,NaN,NaN,None,None,NaN,NaN,None,None,NaN,NaN
3,3,401693677.0,2024.0,regular,1.0,2024-08-24T04:00:00.000Z,College of Idaho,None,45.0,Lincoln (CA),...,NaN,NaN,None,None,NaN,NaN,None,None,NaN,NaN
4,4,401675545.0,2024.0,regular,1.0,2024-08-29T04:00:00.000Z,West Texas A&M,Lone Star,42.0,Sul Ross State,...,NaN,NaN,None,None,NaN,NaN,None,None,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5314,5314,401635621.0,2024.0,regular,14.0,2024-11-30T05:00:00.000Z,California,ACC,NaN,SMU,...,NaN,NaN,None,None,NaN,NaN,None,None,NaN,NaN
5315,5315,401635620.0,2024.0,regular,14.0,2024-11-30T05:00:00.000Z,Pittsburgh,ACC,NaN,Boston College,...,NaN,NaN,None,None,NaN,NaN,None,None,NaN,NaN
5316,5316,401629038.0,2024.0,regular,14.0,2024-11-30T05:00:00.000Z,UConn,FBS Independents,NaN,Massachusetts,...,NaN,NaN,None,None,NaN,NaN,None,None,NaN,NaN
5317,5317,401628571.0,2024.0,regular,14.0,2024-11-30T05:00:00.000Z,Notre Dame,FBS Independents,NaN,USC,...,NaN,NaN,None,None,NaN,NaN,None,None,NaN,NaN
5318,5318,NaN,NaN,None,NaN,None,None,None,NaN,None,...,3.5,NaN,None,None,NaN,NaN,None,None,NaN,NaN